# -----------------------------
# Python Virtual Environments
# -----------------------------
.venv/
venv/
.venv

# -----------------------------
# Python Compiled Files
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# PyInstaller Build Artifacts
# -----------------------------
/build/
/dist/
*.spec
